Repository agnsmar/2dv013-litter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build 1/6, build 2/6, build 3/6, build 4/6, build 5/6, build 6/6

Path conditions:
  build 1/6: any of: services/client/*
  build 2/6: any of: services/api-gateway/*
  build 3/6: any of: services/auth/*
  build 4/6: any of: services/profile/*
  build 5/6: any of: services/lit/*
  build 6/6: any of: services/feed/*

Update storage class in helm values
  k8s/values/mysql-lits.yaml
  k8s/values/mysql-users.yaml
Due: none

Update storageclass used
  k8s/values/mysql-lits.yaml
  k8s/values/mysql-users.yaml
Due: none

Update values
  k8s/values/mysql-lits.yaml
  k8s/values/mysql-users.yaml
Due: none

add api-gateway to ingress
  k8s/ingress.yaml
Due: none

add typescript and graphql server
  services/api-gateway/.dockerignore
  services/api-gateway/Dockerfile.production
  services/api-gateway/package-lock.json
  services/api-gateway/package.json
  services/api-gateway/src/index.js
  services/api-gateway/src/index.ts
  services/api-gateway/tsconfig.json
Due: build 2/6

add prisma
  services/api-gateway/.dockerignore
  services/api-gateway/Dockerfile.production
  services/api-gateway/package-lock.json
  services/api-gateway/package.json
  services/api-gateway/prisma/schema.prisma
  services/api-gateway/src/index.ts
Due: build 2/6

Add mutation
  services/api-gateway/src/index.ts
Due: none

Update dockerization
  services/api-gateway/Dockerfile.production
  services/api-gateway/package-lock.json
  services/api-gateway/package.json
Due: build 2/6

add graphql codegen
  services/client/codegen.ts
  services/client/package-lock.json
  services/client/package.json
  services/client/src/graphql/queries/users.graphql
Due: build 1/6

add profile subgraph and dockerfile
  services/profile/.dockerignore
  services/profile/.gitkeep
  services/profile/Dockerfile.production
  services/profile/package-lock.json
  services/profile/package.json
  services/profile/src/index.ts
  services/profile/tsconfig.json
Due: build 4/6

add profile k8s
  k8s/dev/profile.yaml
  k8s/profile.yaml
  skaffold.yaml
Due: none

fix server listening port
  services/profile/src/index.ts
Due: none

add typescript
  services/profile/package-lock.json
  services/profile/package.json
Due: build 4/6

add graphql gateway and removed unnecessary files
  k8s/api-gateway.yaml
  k8s/dev/api-gateway.yaml
  services/api-gateway/.dockerignore
  services/api-gateway/Dockerfile
  services/api-gateway/Dockerfile.production
  services/api-gateway/package-lock.json
  services/api-gateway/package.json
  services/api-gateway/prisma/schema.prisma
  services/api-gateway/src/index.ts
Due: build 2/6

Split ingress resources according to environment
  k8s/nginx-ingress-production.yaml
  k8s/nginx-ingress-staging.yaml
Due: none

Use production ingress in prod deploy
  .gitlab-ci.yml
Due: none

Replace stub deploy-to-staging stage
  .gitlab-ci.yml
Due: none

Try different kubectl image in staging env
  .gitlab-ci.yml
Due: none

Remove todo comment
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add kubectl apply flag to profile svc
  .gitlab-ci.yml
Due: none

Add pointer to profile k8s manifest
  .gitlab-ci.yml
Due: none

Add missing service directories
  services/feed/.gitkeep
  services/lit-read/.gitkeep
  services/lit-write/.gitkeep
  services/user-read/.gitkeep
  services/user-write/.gitkeep
Due: build 6/6

auth service added
  k8s/auth.yaml
  k8s/dev/auth.yaml
  services/api-gateway/src/index.ts
  services/auth/.dockerignore
  services/auth/.gitkeep
  services/auth/Dockerfile.production
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/index.ts
  services/auth/tsconfig.json
  skaffold.yaml
Due: build 3/6

feature feed service created
  k8s/api-gateway.yaml
  k8s/dev/feed.yaml
  k8s/feed.yaml
  services/api-gateway/src/index.ts
  services/feed/.dockerignore
  services/feed/.gitkeep
  services/feed/Dockerfile.production
  services/feed/package-lock.json
  services/feed/package.json
  services/feed/src/index.ts
  services/feed/tsconfig.json
  skaffold.yaml
Due: build 6/6

Add boilerplate express typescript server
  services/lit-read/.dockerignore
  services/lit-read/.gitkeep
  services/lit-read/Dockerfile.production
  services/lit-read/package-lock.json
  services/lit-read/package.json
  services/lit-read/src/controllers/lit-controller.ts
  services/lit-read/src/index.ts
  services/lit-read/src/routes/router.ts
  services/lit-read/tsconfig.json
Due: none

Add k8s manifests
  k8s/dev/lit-read.yaml
  k8s/lit-read.yaml
Due: none

Setup skaffold for lit-read
  skaffold.yaml
Due: none

Copy lit-read to lit-write
  k8s/dev/lit-write.yaml
  k8s/lit-write.yaml
  services/lit-write/.dockerignore
  services/lit-write/.gitkeep
  services/lit-write/Dockerfile.production
  services/lit-write/package-lock.json
  services/lit-write/package.json
  services/lit-write/src/controllers/lit-controller.ts
  services/lit-write/src/index.ts
  services/lit-write/src/routes/router.ts
  services/lit-write/tsconfig.json
  skaffold.yaml
Due: none

Update routing
  services/lit-read/src/routes/router.ts
  services/lit-write/src/routes/router.ts
Due: none

Specify BASE_URL as env in manifests
  k8s/dev/lit-read.yaml
  k8s/dev/lit-write.yaml
  k8s/lit-read.yaml
  k8s/lit-write.yaml
Due: none

Use BASE_URL in routing
  services/lit-read/src/routes/router.ts
  services/lit-write/src/routes/router.ts
Due: none

Add development ingress to lits svc
  k8s/ingress.yaml
Due: none

Add BASE_URL to root redirection
  services/lit-read/src/routes/router.ts
  services/lit-write/src/routes/router.ts
Due: none

Add lit-read changes
  services/lit-read/.dockerignore
  services/lit-read/Dockerfile.production
  services/lit-read/package-lock.json
  services/lit-read/package.json
  services/lit-read/prisma/schema.prisma
  services/lit-read/src/config/prisma.ts
  services/lit-read/src/controllers/lit-controller.ts
  services/lit-read/src/index.ts
Due: none

changed prisma schema url
  services/lit-read/package.json
  services/lit-read/prisma/schema.prisma
  services/lit-read/src/controllers/lit-controller.ts
Due: none

Add db connection to write-svc
  k8s/dev/lit-read.yaml
  k8s/dev/lit-write.yaml
  k8s/ingress.yaml
  services/lit-write/.dockerignore
  services/lit-write/Dockerfile.production
  services/lit-write/package.json
  services/lit-write/prisma/schema.prisma
  services/lit-write/src/config/prisma.ts
  services/lit-write/src/controllers/lit-controller.ts
Due: none

Update package
  services/lit-write/package-lock.json
  services/lit-write/package.json
Due: none
