Repository agnsmar/2dv013-litter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build 1/9, build 2/9, build 4/9, build 5/9, build 6/9, build 7/9, build 8/9, build 9/9

build 1/9:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  ...

build 2/9:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  ...

build 4/9:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  ...

build 5/9:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/services/feed" --dockerfile "${CI_PROJECT_DIR}/services/feed/Dockerfile.production" --destination "${CI_REGISTRY_IMAGE}/feed:${CI_COMMIT_TAG:-latest}"

build 6/9:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  ...

build 7/9:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  ...

build 8/9:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  ...

build 9/9:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  ...

Add ingress rewrite target rule
  k8s/nginx-ingress-production.yaml
  k8s/nginx-ingress-staging.yaml
Due: none

Revert "removed invalid use of spread syntax"
  services/feed/src/generated/graphql.ts
  services/feed/src/graphql/schema.graphql
  services/feed/src/resolvers/resolvers.ts
Due: none

add promise all to make profile fetch faster
  services/profile/src/resolvers/resolvers.ts
Due: none

moved access token verification to context
  services/auth/src/context.ts
  services/auth/src/index.ts
  services/auth/src/resolvers/resolvers.ts
  services/auth/src/types/types.ts
Due: none

Install Jest
  services/user-read/jest.config.js
  services/user-read/package-lock.json
  services/user-read/package.json
  services/user-read/tsconfig.json
Due: build 9/9

Add tests
  services/user-read/__tests__/user.test.ts
Due: none

Rewrite tests to use beforeAll
  services/user-read/__tests__/user.test.ts
Due: none

Add RabbitMQ helm chart to skaffold
  k8s/values/rabbitmq.yaml
  skaffold.yaml
Due: none

add test for registering
  services/auth/codegen.ts
  services/auth/coverage/clover.xml
  services/auth/coverage/coverage-final.json
  services/auth/coverage/lcov-report/base.css
  services/auth/coverage/lcov-report/block-navigation.js
  services/auth/coverage/lcov-report/favicon.png
  services/auth/coverage/lcov-report/index.html
  services/auth/coverage/lcov-report/prettify.css
  services/auth/coverage/lcov-report/prettify.js
  services/auth/coverage/lcov-report/sort-arrow-sprite.png
  services/auth/coverage/lcov-report/sorter.js
  services/auth/coverage/lcov.info
  services/auth/jest.config.js
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/__tests__/index.test.ts
  services/auth/src/generated/graphql.ts
  services/auth/src/graphql/mutations/register.graphql
  services/auth/src/index.ts
Due: none

add rabbitmq connection and access token context
  services/feed/package-lock.json
  services/feed/package.json
  services/feed/src/index.ts
Due: build 5/9

update context
  services/feed/src/context.ts
Due: none

update schema
  services/feed/src/generated/graphql.ts
  services/feed/src/graphql/schema.graphql
Due: none

add auth token helper
  services/feed/src/types/types.ts
  services/feed/src/util/authTokenHelper.ts
Due: none

add lit create logic
  services/feed/src/resolvers/resolvers.ts
Due: none

add rabbitmq connection string
  k8s/dev/feed.yaml
Due: none

add login tests
  services/auth/src/__tests__/index.test.ts
  services/auth/src/generated/graphql.ts
  services/auth/src/graphql/mutations/login.graphql
  services/auth/src/resolvers/resolvers.ts
  services/user-write/src/controllers/user-controller.ts
Due: none

add remove lit mutation
  services/feed/src/generated/graphql.ts
  services/feed/src/graphql/schema.graphql
  services/feed/src/resolvers/resolvers.ts
Due: none

Add register page
  services/client/src/components/router.tsx
  services/client/src/css/login.css
  services/client/src/pages/Register.tsx
Due: none

link to login from register
  services/client/src/pages/Register.tsx
Due: none

css
  services/client/src/css/login.css
Due: none

Create register.gr.graphql
  services/client/src/graphql/mutations/register.graphql
Due: none

Register new user
  services/client/src/generated/graphql.tsx
  services/client/src/pages/Register.tsx
Due: none

Add profile page
  services/client/src/components/router.tsx
  services/client/src/css/index.css
  services/client/src/css/navigation.css
  services/client/src/css/profile.css
  services/client/src/pages/Navigation.tsx
  services/client/src/pages/Profile.tsx
Due: none

Add profile css
  services/client/src/css/profile.css
  services/client/src/pages/Profile.tsx
Due: none

update rabbitmq auth values
  k8s/values/rabbitmq.yaml
Due: none

update rabbitmq connection string
  k8s/dev/feed.yaml
Due: none

fix tailwind being ignored
  services/client/.dockerignore
Due: build 1/9

add refresh token to apollo link
  services/client/src/main.tsx
Due: none

update package
  services/client/package-lock.json
  services/client/package.json
Due: build 1/9

fix server not restarting on failed connection
  services/feed/src/index.ts
Due: none

add optional env variable for gateway url
  services/client/src/main.tsx
Due: none

add follow mutation
  services/profile/src/generated/graphql.ts
  services/profile/src/graphql/schema.graphql
  services/profile/src/resolvers/resolvers.ts
Due: none

add unfollow mutation
  services/profile/src/resolvers/resolvers.ts
Due: none

Empty old write svc
  k8s/dev/lit-write.yaml
  k8s/lit-write.yaml
  services/lit-write/.dockerignore
  services/lit-write/Dockerfile.production
  services/lit-write/package-lock.json
  services/lit-write/package.json
  services/lit-write/prisma/schema.prisma
  services/lit-write/src/config/prisma.ts
  services/lit-write/src/controllers/lit-controller.ts
  services/lit-write/src/index.ts
  services/lit-write/src/routes/router.ts
  services/lit-write/tsconfig.json
Due: build 6/9

Update gitignore with python
  .gitignore
Due: none

Add python dependencies
  services/lit-write/requirements.txt
Due: build 6/9

Add queue connection
  services/lit-write/main.py
Due: build 6/9

Add dockerization
  services/lit-write/.dockerignore
  services/lit-write/Dockerfile.production
Due: build 6/9

Add k8s manifest
  k8s/dev/lit-write.yaml
Due: none

Fix bug in feed not checking token correctly
  services/feed/src/index.ts
Due: none

Path conditions:
  build 1/9: any of: services/client/*, k8s/client.yaml
  build 2/9: any of: services/api-gateway/*, k8s/api-gateway.yaml
  build 4/9: any of: services/profile/*, k8s/profile.yaml
  build 5/9: any of: services/feed/*, k8s/feed.yaml
  build 6/9: any of: services/lit-write/*, k8s/lit-write.yaml
  build 7/9: any of: services/lit-read/*, k8s/lit-read.yaml
  build 8/9: any of: services/user-write/*, k8s/user-write.yaml
  build 9/9: any of: services/user-read/*, k8s/user-read.yaml
