Repository agnsmar/2dv013-litter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-client, build-api-gateway

build-client:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}" --dockerfile "${CI_PROJECT_DIR}/services/client/Dockerfile.production" --destination "${CI_REGISTRY_IMAGE}/client:${CI_COMMIT_TAG:-latest}"

build-api-gateway:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}" --dockerfile "${CI_PROJECT_DIR}/services/api-gateway/Dockerfile.production" --destination "${CI_REGISTRY_IMAGE}/api-gateway:${CI_COMMIT_TAG:-latest}"

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

add dockerfiles
  services/api-gateway/Dockerfile
  services/api-gateway/Dockerfile.production
Due: build-api-gateway

add api-gateway.yaml
  k8s/api-gateway.yaml
Due: none

remove blocking comment
  .gitlab-ci.yml
Due: none

Add folder pointer
  .gitlab-ci.yml
Due: none

add nodeport
  k8s/api-gateway.yaml
Due: none

Add proper container registry pointer
  k8s/api-gateway.yaml
Due: none

add .dockerignore
  services/api-gateway/.dockerignore
Due: build-api-gateway

Fix faulty context
  .gitlab-ci.yml
Due: none

Delete .gitkeep
  services/api-gateway/.gitkeep
Due: build-api-gateway

Auth service from other project
  .DS_Store
  services/.DS_Store
  services/auth/.DS_Store
  services/auth/.eslintrc.cjs
  services/auth/.gitignore
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/.DS_Store
  services/auth/src/config/mongoose.js
  services/auth/src/controllers/account-controller.js
  services/auth/src/models/token.js
  services/auth/src/models/user.js
  services/auth/src/routes/router.js
  services/auth/src/server.js
Due: none

Create React client
  services/client/.gitignore
  services/client/.gitkeep
  services/client/README.md
  services/client/package-lock.json
  services/client/package.json
  services/client/public/favicon.ico
  services/client/public/index.html
  services/client/public/logo192.png
  services/client/public/logo512.png
  services/client/public/manifest.json
  services/client/public/robots.txt
  services/client/src/App.css
  services/client/src/App.js
  services/client/src/App.test.js
  services/client/src/index.css
  services/client/src/index.js
  services/client/src/logo.svg
  services/client/src/reportWebVitals.js
  services/client/src/setupTests.js
Due: build-client

Add nginx ingress resource manifest
  k8s/nginx-ingress.yaml
Due: none

Add react app build by vite
  services/client/.gitignore
  services/client/.gitkeep
  services/client/index.html
  services/client/package-lock.json
  services/client/package.json
  services/client/public/vite.svg
  services/client/src/App.css
  services/client/src/App.tsx
  services/client/src/assets/react.svg
  services/client/src/index.css
  services/client/src/main.tsx
  services/client/src/vite-env.d.ts
  services/client/tsconfig.json
  services/client/tsconfig.node.json
  services/client/vite.config.ts
Due: build-client

Add dockerignore
  services/client/.dockerignore
Due: build-client

Update vite config
  services/client/vite.config.ts
Due: build-client

Add dev dockerfile
  services/client/Dockerfile
Due: build-client

Add functional docker dev environment
  services/client/.dockerignore
  services/client/Dockerfile
  services/client/package-lock.json
  services/client/vite.config.ts
Due: build-client

Add package.json wildcard
  services/client/Dockerfile
Due: build-client

Add dockerized production container
  services/client/.dockerignore
  services/client/Dockerfile.production
  services/client/nginx.conf
Due: build-client

Add k8s manifest for client
  k8s/client.yaml
Due: none

Fix port collision
  k8s/client.yaml
Due: none

Fix dev ports
  services/client/Dockerfile
  services/client/vite.config.ts
Due: build-client

Add pointer to GitLab container registry
  k8s/client.yaml
Due: none

Add pointer to registry credentials
  k8s/client.yaml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add nginx ingress resource for client
  k8s/nginx-ingress.yaml
Due: none

Add deploy step of nginx ingress to pipeline
  .gitlab-ci.yml
Due: none

Fix conflict
  .gitlab-ci.yml
Due: none

Update nginx-ingress.yaml
  k8s/nginx-ingress.yaml
Due: none

Revert "Merge branch 'fix-ingress-host' into 'main'"
  k8s/nginx-ingress.yaml
Due: none

Add skaffold configuration
  skaffold.yaml
Due: none

Add ingress resource for minikube tunnel
  k8s/ingress.yaml
Due: none

Add storage class for local development
  k8s/local-storage.yaml
Due: none

Add values for local helm chart configs
  k8s/values/mysql-lits.yaml
  k8s/values/mysql-users.yaml
Due: none

Add dev manifests for local env
  k8s/dev/api-gateway.yaml
  k8s/dev/client.yaml
  skaffold.yaml
Due: none

Path conditions:
  build-client: any of: services/client/*
  build-api-gateway: any of: services/api-gateway/*
