Repository agnsmar/2dv013-litter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build 1/9, build 2/9, build 4/9, build 5/9, build 6/9, build 7/9, build 8/9, build 9/9

Path conditions:
  build 1/9: any of: services/client/*, k8s/client.yaml
  build 2/9: any of: services/api-gateway/*, k8s/api-gateway.yaml
  build 4/9: any of: services/profile/*, k8s/profile.yaml
  build 5/9: any of: services/feed/*, k8s/feed.yaml
  build 6/9: any of: services/lit-write/*, k8s/lit-write.yaml
  build 7/9: any of: services/lit-read/*, k8s/lit-read.yaml
  build 8/9: any of: services/user-write/*, k8s/user-write.yaml
  build 9/9: any of: services/user-read/*, k8s/user-read.yaml

Add JWT env variables to feed
  k8s/dev/feed.yaml
Due: none

Change python version
  services/lit-write/Dockerfile.production
Due: build 6/9

Change queue durability
  services/lit-write/main.py
Due: build 6/9

Add temporary dependency
  services/lit-write/requirements.txt
Due: build 6/9

Add mysql envs
  k8s/dev/lit-write.yaml
Due: none

Add prisma schema
  services/lit-write/prisma/schema.prisma
Due: none

Add heartbeat to queue connection
  k8s/dev/feed.yaml
Due: none

Make queues not durable
  services/feed/src/resolvers/resolvers.ts
Due: none

Change from python to tsc, add prisma stuff
  services/lit-write/.dockerignore
  services/lit-write/Dockerfile.production
  services/lit-write/main.py
  services/lit-write/package-lock.json
  services/lit-write/package.json
  services/lit-write/requirements.txt
  services/lit-write/src/config/prisma.ts
  services/lit-write/src/index.ts
  services/lit-write/tsconfig.json
  services/user-write/src/index.ts
Due: build 6/9

Add prod k8s manifest
  k8s/lit-write.yaml
Due: build 6/9

Fix sec issue
  services/lit-write/src/index.ts
Due: none

Break out prisma methods
  services/lit-write/src/db.ts
  services/lit-write/src/index.ts
Due: none

Remove unused prisma import
  services/lit-write/src/index.ts
Due: none

add register test
  services/auth/jest.config.js
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/__tests__/register.test.ts
Due: none

add test user class
  services/auth/src/util/testUser.ts
Due: none

add test coverage
  services/auth/coverage/clover.xml
  services/auth/coverage/coverage-final.json
  services/auth/coverage/lcov-report/base.css
  services/auth/coverage/lcov-report/block-navigation.js
  services/auth/coverage/lcov-report/favicon.png
  services/auth/coverage/lcov-report/index.html
  services/auth/coverage/lcov-report/prettify.css
  services/auth/coverage/lcov-report/prettify.js
  services/auth/coverage/lcov-report/sort-arrow-sprite.png
  services/auth/coverage/lcov-report/sorter.js
  services/auth/coverage/lcov.info
Due: none

update codegen config
  services/auth/codegen.ts
Due: none

add types
  services/auth/src/types/types.ts
Due: none

moved server creation to a function
  services/auth/src/index.ts
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add env vars
  k8s/feed.yaml
  k8s/profile.yaml
Due: build 4/9, build 5/9

Update var
  k8s/feed.yaml
Due: build 5/9

Add imagePullSecrets
  k8s/lit-write.yaml
Due: build 6/9

Fix indentation
  k8s/lit-write.yaml
Due: build 6/9

Comment out bugs
  services/client/src/css/index.css
  services/client/src/main.tsx
Due: none

Navigation
  services/client/src/css/index.css
  services/client/src/css/navigation.css
  services/client/src/css/profile.css
  services/client/src/pages/Navigation.tsx
  services/client/src/pages/Profile.tsx
Due: none

Delete unnecessary comments
  services/client/src/pages/Navigation.tsx
Due: none

Update ingresses
  k8s/dev/ingress.yaml
  k8s/nginx-ingress-production.yaml
  k8s/nginx-ingress-staging.yaml
Due: none

Get graphql endpoint from secret
  k8s/api-gateway.yaml
  k8s/dev/api-gateway.yaml
Due: build 2/9

Move env vars to correct svc
  k8s/api-gateway.yaml
  k8s/client.yaml
  k8s/dev/api-gateway.yaml
  k8s/dev/client.yaml
Due: build 1/9, build 2/9

Profile image
  services/client/src/css/profile.css
  services/client/src/pages/Profile.tsx
Due: none

Move graphQL ingress
  k8s/dev/ingress.yaml
  k8s/nginx-ingress-production.yaml
  k8s/nginx-ingress-staging.yaml
Due: none

Update ingress hosts
  k8s/nginx-ingress-production.yaml
  k8s/nginx-ingress-staging.yaml
Due: none

Try cors origin
  services/api-gateway/src/index.ts
Due: none

Lit component
  services/client/src/components/Lit.tsx
  services/client/src/css/index.css
  services/client/src/css/lit.css
  services/client/src/css/profile.css
  services/client/src/pages/Profile.tsx
Due: none

Try ingress rules
  k8s/nginx-ingress-production.yaml
  k8s/nginx-ingress-staging.yaml
Due: none

Like button
  services/client/src/components/Lit.tsx
  services/client/src/css/lit.css
  services/client/src/pages/Profile.tsx
Due: none

Profile page
  services/client/src/components/Lit.tsx
  services/client/src/css/lit.css
Due: none

Specify cors origin
  services/api-gateway/src/index.ts
Due: none
